@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/lara-light-cyan/theme.css";

.button_wrapper_left .p-button {
    color: #ffffff;
    background: #00715d;
    border: 1px solid #00715d;
    padding: 0.75rem 1.25rem;
    font-size: 15px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    box-shadow: 0.2s;
    border-radius: 30px;
}
.button_wrapper_left .p-button:hover {
    border: 1px solid #00715d;
    background-color: #ffffff;
    color: #00715d;
}

.product {
    margin-bottom: 20px;
}

.button_wrapper_left .p-button:last-child {
    color: #ffffff;
    background: black;
    border: 1px solid black;
    padding: 0.75rem 1.25rem;
    font-size: 15px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 30px;
}

.button_wrapper_left .p-button:last-child:hover {
    border: 1px solid black;
    background-color: #ffffff;
    color: black;
}

.product .product_wrapper {
    padding: 8px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    color: #00715d;
    border: 3px solid #00715d;
    height: 100%;
    max-height: 185px;
    overflow: auto;
}

.product .product_wrapper:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 1s;
}

.image_wrapper_product {
    position: relative;
}

.image_wrapper_product:hover .overlay {
    opacity: 1;
}
.image_wrapper_product .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #00715d;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
    background-color: #121215;
    color: #ffffff;
}

/* scrollbar   */

::-webkit-scrollbar {
    width: 8px;
    /* border-radius: 50px; */
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* related to projects page */
.p-carousel-next-icon,
.p-carousel-prev-icon {
    color: #ffffff;
}
